$primaryColor: #48523e; 
$secondaryColor: #45554c;
$accentColor: #5b5549;
$greyColor: #ccc;

$defaultFont:'PT Sans Narrow', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;