$primaryColor: #6a7a5a; 
$secondaryColor: #7d9b89;
$accentColor: #b9ac90;
$greyColor: #ccc;

$defaultFont:'PT Sans Narrow', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;